extends layout

block content
	#contents
		h1=title

		-if(isLogin)
			p welcome to the fav reader
			br
			a(href="/signout") Sign out with you
			for data in favorites
				div.tweet
					div.image
						img(src="#{data.status.user.profile_image_url}")
					div.name #{data.status.user.screen_name} / #{data.status.user.name}
					div.text #{data.status.text}
		-else
			p
				a(href="/auth/twitter") Sign in with twitter sd
//	p= json